div, body, el-menu, canvas {
    margin: 0;
    border: 0;
    padding: 0;
}
.el-container, .el-header, .el-main, .el-footer {
    margin: 0;
    border: 0;
    padding: 0;
}
.el-container {
    height: 100vh;
}
.el-header {
    height: 60px;
}
.el-main {
    display: flex;
    height: calc(100vh - 60px);
    justify-content: center;
}

/* 取消导航栏高亮字体色和item下划线 */
.el-menu--horizontal > .el-menu-item.is-active { 
    border-bottom: 0px;
}
.el-menu--horizontal > .el-menu-item { 
    border-bottom: 0px;
}